<div id="express">
  <div class="row-fluid">
    <div class="span10 offset1">

      <h3 class="blue">Etes-vous fait pour l'express ?</h3>
      <ul>
        <li class="justify">Vous avez un projet d'appli web</li>
        <li class="justify">Vous débutez en programmation et êtes un peu perdu dans toutes ces technologies (langages, librairies, frameworks, services web)</li>
        <li class="justify">Vous êtes TRES MOTIVES pour réaliser vous-même votre prototype, sans le sous-traiter</li>
      </ul>

      <h3 class="blue">Le wagon = un cadre + une pédagogie</h3>
      <p class="justify"><span class="bold red">L'ESPACE</span> - Situé dans Paris intra muros, c'est encore en discussion mais ça promet.. Surprise !</p>
      <p class="justify"><span class="bold red">LA PEDAGOGIE</span> - Des exercices bien ciblés, des séances de code-live et de coaching, des interventions de professionnels intéressants pour votre projet. Vous serez armé pour développer votre MVP en 2 semaines.</p>
      <p class="justify">Le wagon vous permet de profiter au maximum de l'expérience des autres élèves, de celle de vos coachs et des intervenants. Vous ne réaliserez pas Google en deux semaines, mais vous apprendrez à déployer très vite une première version de votre projet, pour ensuite ajouter des features de façon itérative. Ce qu'on appelle le 'développement agile'.</p>

      <p class="justify">A la fin de ces deux semaines, vous pourrez taper à la porte des incubateurs parisiens partenaires du wagon, si jamais votre projet vous donne des ailes et que vous décidez de faire le grand saut dans l'entreprenariat.</p>

      <h3 class="blue">Le recrutement</h3>
      <ul>
        <li class="justify">Le bouton "POSTULER" n'est pas seulement là pour vous faire croire que le programme est très demandé ! Il est essentiel pour nous de sélectionner les bons profils. Des élèves ayant autant envie d'apprendre le développement web que de mener leur projet à bien. Si vous n'avez aucune envie de "mettre les mains dans le camboui" et que vous voyez l'express comme un moyen pour lancer rapidement votre produit a 128 features, vous serez vite déçu !</li><br>

        <li class="justify">Suite à votre inscription au programme, nous vous contacterons assez vite pour un entretien (Skype ou tout simplement autour d'un verre). L'idée n'est pas de vous tester, mais de voir si vous avez le bon profil et si vous pourrez vraiment tirer profit du programme.</li><br>

        <li class="justify">Si vous excellez au wagon, et vous prenez de passion pour le développement, vous pourrez  à votre tour devenir mentor/coach des prochaines formations, pour continuer à apprendre et à partager. Si le coeur vous en dit of course !</li>
      </ul>

      <h3 class="blue" style="display:inline-block">Le programme</h3>
      <h4 class="pull-right">2 semaines, 24/7</h4>
      <p>Pour développer votre prototype, vous utiliserez :</p>
      <ul>
        <li><span class="bold red">Ruby On Rails</span> - pour bâtir tout votre site ou seulement l'API en back-end</li>
        <li><span class="bold red">HTML/CSS/Bootstrap</span> - pour travailler une première identité visuelle et un rendu professionnel</li>
        <li>Librairies et frameworks Javascript (<span class="bold red">jQuery, Angular, Ember, Backbone..</span>) - pour animer votre site, surtout si vous voulez batir une application one-page</li>
      </ul>
      <p>Le programme est découpé en 2 semaines</p>
      <ul>
        <li class="justify">Semaine 1 : La première semaine est une semaine de formation, qui reste modelée par les projets des élèves. Au programme,
          <ul>
            <li>cours théoriques concis et percutants (pas plus de 30 minutes) pour vous transmettre l'essentiel.</li>
            <li> séances de code live où un professeur construit avec vous un exemple from scratch (CV en ligne, to-do list, blog, réseau social, site de e-commerce..). Certaines de ces séances vous serviront ensuite sur vos projets personnels.</li>
            <li>travaux pratiques en groupe pour appliquer ses connaissances, s'autonomiser et s'entraider.</li>
            <li>brainstorm avec votre mentor pour définir votre MVP (Minimal Valuable Product), cibler les outils et les points à approfondir pour réussir à le développer.</li>
          </ul>
        </li>

        <br>

        <li class="justify">Semaine 2 : La deuxième semaine sera entièrement consacrée à votre projet. Votre coach sera là pour définir une roadmap avec vous, pour vous aider losque vous bloquer quelque part.  Nous vous pousserons aussi à collaborer, en réunissant les projets qui utilisent des technologies similaires.</li>
        </ul>

        <br>
        Si l'express est fait pour vous, <a href="/web/20130714040219/http://www.lewagon.org/postuler" class="red">POSTULER</a>
      </div>
    </div>
  </div>