<div class="caption-right left-align">
  <h1>ATTRAPEZ LE WAGON !</h1>
  <span class="punch-line">Codez votre site, élargissez vos compétences web ou devenez développeur en 2 mois. Quelles que soient vos attentes, plusieurs wagons sont là pour y répondre !</span>
</div>
<div class="caption-left left-align">
            <h1>CODEZ INTELLIGEMMENT</h1>
            <span class="punch-line">Intégrez les bonnes pratiques du "développement agile". Pair-programming, test-driven development, etc.. Ne restez plus bloqué des heures derrière votre écran. Codez, échangez, testez, et réagissez ! </span>
          </div>
          <div class="caption-right left-align">
            <h1>CODEZ EN PARTAGEANT</h1>
            <span class="punch-line">Un cours en ligne ne vous donnera jamais une bonne compréhension du web. En sortant du wagon, vous saurez quelle question vous poser quand vous bloquez quelque part, et comment trouver la réponse tout seul !</span>
          </div>

<div class="container">

  <div class="row-fluid" id="pgrmes-title">
    <div class="span12">
      <h1 class="with-line">
        <span>
          <img alt="Star" class="inline-img" src="/web/20130719161337im_/http://www.lewagon.org/assets/star-74be949da3d8d5e0fecf0ff70f27d7c3.svg">
          NOS PROGRAMMES
          <img alt="Star" class="inline-img" src="/web/20130719161337im_/http://www.lewagon.org/assets/star-74be949da3d8d5e0fecf0ff70f27d7c3.svg">
        </span>
      </h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4 pgrme">
      <h3 class="bitter-blue">Le wagon bar</h3>
      <p class="justify">Intégrez les clefs qu'il vous manque dans votre start-up, votre projet personnel, ou dans votre travail. Des cours à la carte : initiation back-end, front-end, maîtrise des APIs.. Trouvez le cours qui vous correspond et inscrivez-vous !</p>
      <a href="programme1.html">LA CARTE DES COURS</a>
    </div>
    <div class="span4 pgrme">
      <h3 class="bitter-blue">L'express</h3>
      <p class="justify">Deux semaines de formation et de développement assisté pour créer le prototype de votre site. Apprenez le développement "agile" avec des hackers aguerris et codez vous-même votre MVP (Minimal Valuable Product).</p>
      <a href="express.html">LE PROGRAMME EN DETAILS</a>
    </div>
    <div class="span4 pgrme">
      <h3 class="bitter-blue">La 1ère classe</h3>
      <p class="justify">Un programme très (trop ?) intense de 2 mois pour devenir développeur et trouver un travail à la clef. Il faut des années pour devenir développeur professionnel. Deux mois suffisent pour être autonome et trouver un poste motivant.</p>
      <a href="premiere.html">LE PROGRAMME EN DETAILS</a>
    </div>
  </div>

  <hr>

  <div class="row-fluid">
    <div class="span6 feedbacks">

      <div class="row-fluid">
        <div class="span2">
          <img alt="Charles" class="img-circle" src="/web/20130719161337im_/http://www.lewagon.org/assets/charles-2f035e19a9d0fa6136cbb72569c46437.png">
        </div>
        <div class="span10">
          <p class="justify">
            <i>"Je n'avais encore jamais trouvé quelqu'un capable de m'expliquer à la fois la logique générale et les éléments techniques du développement, tout en parlant la même langue que moi. C'est chose faite ! "</i>
          </p>
          <p class="pull-right">
            <span class="red">–</span> Charles Guilhamon, <span class="black">CEO @darjeelin</span>
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2">
          <img alt="Gauthier" class="img-circle" src="/web/20130719161337im_/http://www.lewagon.org/assets/gauthier-4cd83da093f1a34856f20285dda03eb3.png">
        </div>
        <div class="span10">
          <p class="justify">
            <i>"J'avais une vraie envie d'apprendre le code. Après plusieurs échecs en utilisant différents sites, les heures passées au wagon m'ont permis de défricher, de me poser les bonnes questions et comprendre mes collègues développeurs."</i>
          </p>
          <p class="pull-right">
            <span class="red">–</span> Gauthier Nadaud, <span class="black">CEO @smiirl</span>
          </p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2">
          <img alt="Octave" class="img-circle" src="/web/20130719161337im_/http://www.lewagon.org/assets/octave-e470a62fa98b3acc3a6d9a76273408ed.png">
        </div>
        <div class="span10">
          <p class="justify">
            <i>"L'équipe du Wagon c'est la meilleure école pour découvrir le développeur qui est enfoui en chacun de nous."</i>
          </p>
          <p class="pull-right">
            <span class="red">–</span> Octave Bory-Bert, <span class="black">CEO @melusyn</span>
          </p>
        </div>
      </div>

    </div><!--span6 feedbacks-->

    <div class="span5 offset1 languages-block">
      <div class="row-fluid">
        <div class="span6 center">
          <img alt="Html" class="code-pic" src="/web/20130719161337im_/http://www.lewagon.org/assets/html-689eb75229dfe89e9bf615a3e13a3440.png">
          <p class="languages center">HTML - CSS</p>
        </div>
        <div class="span6 center">
          <img alt="Js" class="code-pic" src="/web/20130719161337im_/http://www.lewagon.org/assets/js-ce93e4b04c0181071c19d00596d78a86.png">
          <p class="languages center">Javascript</p>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span6 center">
          <img alt="Ror" class="code-pic" src="/web/20130719161337im_/http://www.lewagon.org/assets/ror-bc289e6d0734b139bed47bde665b3cb9.png">
          <p class="languages center">Ruby - Rails</p>
        </div>
        <div class="span6 center">
          <img alt="Git" class="code-pic" src="/web/20130719161337im_/http://www.lewagon.org/assets/git-3c55f51278c6330850e362fd9c5d1092.png">
          <p class="languages center">Git - Heroku</p>
        </div>
      </div>
    </div><!--span5 offset1 languages-block-->
  </div>

  <br>
  <hr>

  <div class="row-fluid" id="profile">
    <div class="span8">
      <h3 class="blue">PASSIONNE</h3>
      <p class="justify">Vous êtes quelqu'un de passionné &amp; curieux. Vous apprenez de façon intelligente, sans vouloir ré-inventer la roue mais en souhaitant rapidement créer des choses. Vous voulez tirer un maximum du programme, et comptez mettre en oeuvre tous les moyens pour ça.</p>
      <br>
      <h3 class="blue">SOCIABLE</h3>
      <p class="justify">Coder, c'est travailler à 50% avec son ordinateur, à 50% avec des gens. Vous êtes sociable, à l'écoute, et aimez apprendre des autres. Vous aimez re-formuler, ré-expliquer pour mieux assimiler ce que vous apprenez.</p>
      <br>
      <h3 class="blue">TENACE</h3>
      <p class="justify">Nous acceptons les débutants talentueux dans le programme. Si vous n'avez jamais codé mais êtes motivé et persévérant, vous vous mettrez vite à niveau.</p>
    </div>
    <div class="span4">
      <img alt="Diagram" src="/web/20130719161337im_/http://www.lewagon.org/assets/diagram-40d6a448c0d90922bc90f4f92e43ee0f.png">
    </div>
  </div>

</div>
          <div class="row-fluid">
        <div class="span2">
          <img alt="Gauthier" class="img-circle" src="/web/20130719161337im_/http://www.lewagon.org/assets/gauthier-4cd83da093f1a34856f20285dda03eb3.png">
        </div>
        <div class="span10">
          <p class="justify">
            <i>"J'avais une vraie envie d'apprendre le code. Après plusieurs échecs en utilisant différents sites, les heures passées au wagon m'ont permis de défricher, de me poser les bonnes questions et comprendre mes collègues développeurs."</i>
          </p>
          <p class="pull-right">
            <span class="red">–</span> Gauthier Nadaud, <span class="black">CEO @smiirl</span>
          </p>
        </div>
      </div>