<div class="container">
        <div id="wagon-bar">

  <div class="row-fluid">

    <div class="span3">
      <h3></h3>
      <form accept-charset="UTF-8" action="/web/20130719154257/http://www.lewagon.org/suggestions" class="simple_form new_suggestion" id="new_suggestion" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="GkTnqhiBaPzYtuDhHPe/kSUcdwhl1f+41TMC4LQ9Nso="></div>
        <label class="string optional control-label suggestion-label" for="suggestion_Votre mail">Votre mail</label>
        <input id="suggestion_email" label="Votre mail" name="suggestion[email]" placeholder="bob@gmail.com" size="30" type="email">
        <label class="string optional control-label suggestion-label" for="suggestion_Votre cours rêvé ">Votre cours rêvé ?</label>
        <textarea cols="40" id="suggestion_content" name="suggestion[content]" placeholder="construire un site de e-commerce, un réseau social ? intro à Angular, Backbone, Node, initiation à la data-viz, API &amp; parsing.. Tous vos rêves les plus fous, ne soyez pas timide !" rows="5"></textarea>
        <input class="btn" name="commit" type="submit" value="ENVOYER">
</form>   </div>

    <div class="span9">
      <div class="cours">

  <div class="row-fluid">
    <div class="span12">
      <h3 class="blue">INITIATION FRONT-END</h3>
    </div>
  </div>

  <br>

  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span12">
          <ul>
            <li>Prendre en main HTML5 / CSS3</li>
            <li>Utiliser la librairie Twitter Bootstrap et son système de grid</li>
            <li>Réaliser un site statique brique par brique (<a href="/web/20130719154257/http://lewagon.herokuapp.com/exo?exo=exo4&amp;page=index">exemple</a>)</li>
          </ul>

          <br>

          <div class="row-fluid">
            <div class="span1">
              <img alt="Suitcase" class="cours-mutinerie-pic transparent" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/suitcase-311f914b012aed7b3c03cb00a7e1ed1d.svg">
            </div>
            <div class="span11">
              Aucun bagage n'est nécessaire<br>
              Venez comme vous êtes !
            </div>
          </div>

          <br>

          <div class="row-fluid">
            <div class="span1">
              <img alt="Tools" class="cours-mutinerie-pic transparent" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/tools-e5f576732d70d92fecfcc0e8df7fe45a.svg">
            </div>
            <div class="span11">
              Votre ordinateur<br>
              + un éditeur de texte (TextMate / SublimeText )
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4 info-box">
      <div class="row-fluid">
        <div class="span1">
          <img alt="Map" class="cours-mutinerie-pic" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/map-8b1a11b93fedebedaa2df0c9ef6a1286.svg">
        </div>
        <div class="span11 infos">
          Mercredi 10 Juillet<br>
          <span class="second-line">
            18h30-20h30 (2h)
          </span>
        </div>
      </div>

      <br>

      <div class="row-fluid">
  <div class="span1">
    <img alt="Cal" class="cours-mutinerie-pic" src="/web/20130719154257im_/http://www.lewagon.org/assets/cal-a266c3abb57c577aa4f229a67d9ef26e.svg">
  </div>
  <div class="span6 infos">
    Mutinerie<br>
    <span class="second-line">
      29 rue de Meaux<br>
      75019 Paris
    </span>
  </div>
  <div class="span5 center">

    <a href="/web/20130719154257/http://maps.google.com/maps?q=29%20rue%20de%20Meaux%2075019%20Paris">
      <img src="/web/20130719154257im_/http://maps.google.com/maps/api/staticmap?center=48.879559,2.371743&amp;zoom=13&amp;markers=size:small|48.879559,2.371743&amp;size=60x60&amp;sensor=false" class="google-map">
    </a>
  </div>
</div>

      <br>

      <div class="row-fluid">
        <div class="span6 offset1">
          <a href="/web/20130719154257/http://1wagon.eventbrite.com/" class="link-tickets" target="_blank"><img alt="Tickets_1" class="tickets" src="/web/20130719154257im_/http://www.lewagon.org/assets/tickets_1-9671cf17197c710be715291481fe9b61.png"></a>
        </div>
        <div class="span5 center">
          <br>
          <span class="muted price-infos">30€</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cours">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="blue">INITIATION BACK-END - Part 1</h3>
    </div>
  </div>
  <br>


  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span12">
          <ul>
            <li>Créer un simple blog avec ruby on Rails</li>
            <li>Comprendre l'architecture d'un site Rails et son flow (MVC, routing, convention action/vue, DataBase, migration)</li>
            <li>Déployer son blog sur le serveur heroku</li>
          </ul>

          <br>

          <div class="row-fluid">
            <div class="span1">
              <img alt="Suitcase" class="cours-mutinerie-pic transparent" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/suitcase-311f914b012aed7b3c03cb00a7e1ed1d.svg">
            </div>
            <div class="span11">
              Vous avez des bases en HTML/CSS<br>
              Une petite culture web et une tête bien faite
            </div>
          </div>

          <br>

          <div class="row-fluid">
            <div class="span1">
              <img alt="Tools" class="cours-mutinerie-pic transparent" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/tools-e5f576732d70d92fecfcc0e8df7fe45a.svg">
            </div>
            <div class="span11">
              Votre ordinateur<br>
              + un éditeur de texte (TextMate / SublimeText )<br>
              + installer ruby/Rails/Git =&gt; <a href="/web/20130719154257/http://railsinstaller.org/">RailsInstaller</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4 info-box">
      <div class="row-fluid">
        <div class="span1">
          <img alt="Map" class="cours-mutinerie-pic" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/map-8b1a11b93fedebedaa2df0c9ef6a1286.svg">
        </div>
        <div class="span11 infos">
          Mercredi 17 Juillet<br>
          <span class="second-line">
            18h30-20h30 (2h)
          </span>
        </div>
      </div>

      <br>

      <div class="row-fluid">
  <div class="span1">
    <img alt="Cal" class="cours-mutinerie-pic" src="/web/20130719154257im_/http://www.lewagon.org/assets/cal-a266c3abb57c577aa4f229a67d9ef26e.svg">
  </div>
  <div class="span6 infos">
    Mutinerie<br>
    <span class="second-line">
      29 rue de Meaux<br>
      75019 Paris
    </span>
  </div>
  <div class="span5 center">

    <a href="/web/20130719154257/http://maps.google.com/maps?q=29%20rue%20de%20Meaux%2075019%20Paris">
      <img src="/web/20130719154257im_/http://maps.google.com/maps/api/staticmap?center=48.879559,2.371743&amp;zoom=13&amp;markers=size:small|48.879559,2.371743&amp;size=60x60&amp;sensor=false" class="google-map">
    </a>
  </div>
</div>


      <br>

      <div class="row-fluid">
        <div class="span6 offset1">
          <a href="/web/20130719154257/http://2wagon.eventbrite.com/" class="link-tickets" target="_blank"><img alt="Tickets_1" class="tickets" src="/web/20130719154257im_/http://www.lewagon.org/assets/tickets_1-9671cf17197c710be715291481fe9b61.png"></a>
        </div>
        <div class="span5 center">
          <br>
          <span class="muted price-infos">30€</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cours">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="blue">INITIATION BACK-END - Part 2</h3>
    </div>
  </div>
  <br>

  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span12">
          <ul>
            <li>Ajouter à son blog des utilisateurs</li>
            <li>Comprendre les bases de données relationnelles</li>
            <li>Ajouter un système d'authentification classique avec Devise</li>
            <li>Ou via Facebook (import des infos Facebook)</li>
          </ul>

          <br>

          <div class="row-fluid">
            <div class="span1">
              <img alt="Suitcase" class="cours-mutinerie-pic transparent" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/suitcase-311f914b012aed7b3c03cb00a7e1ed1d.svg">
            </div>
            <div class="span11">
              Vous avez des bases en HTML/CSS<br>
              Vous avez déjà passé au moins 1h sur un tutorial Rails
            </div>
          </div>

          <br>

          <div class="row-fluid">
            <div class="span1">
              <img alt="Tools" class="cours-mutinerie-pic transparent" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/tools-e5f576732d70d92fecfcc0e8df7fe45a.svg">
            </div>
            <div class="span11">
              Votre ordinateur<br>
              + un éditeur de texte (TextMate / SublimeText )<br>
              + installer ruby/Rails/Git =&gt; <a href="/web/20130719154257/http://railsinstaller.org/">RailsInstaller</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="span4 info-box">
      <div class="row-fluid">
        <div class="span1">
          <img alt="Map" class="cours-mutinerie-pic" id="map" src="/web/20130719154257im_/http://www.lewagon.org/assets/map-8b1a11b93fedebedaa2df0c9ef6a1286.svg">
        </div>
        <div class="span11 infos">
          Mercredi 24 Juillet<br>
          <span class="second-line">
            18h30-20h30 (2h)
          </span>
        </div>
      </div>

      <br>

      <div class="row-fluid">
  <div class="span1">
    <img alt="Cal" class="cours-mutinerie-pic" src="/web/20130719154257im_/http://www.lewagon.org/assets/cal-a266c3abb57c577aa4f229a67d9ef26e.svg">
  </div>
  <div class="span6 infos">
    Mutinerie<br>
    <span class="second-line">
      29 rue de Meaux<br>
      75019 Paris
    </span>
  </div>
  <div class="span5 center">

    <a href="/web/20130719154257/http://maps.google.com/maps?q=29%20rue%20de%20Meaux%2075019%20Paris">
      <img src="/web/20130719154257im_/http://maps.google.com/maps/api/staticmap?center=48.879559,2.371743&amp;zoom=13&amp;markers=size:small|48.879559,2.371743&amp;size=60x60&amp;sensor=false" class="google-map">
    </a>
  </div>
</div>

      <br>

      <div class="row-fluid">
        <div class="span6 offset1">
          <a href="/web/20130719154257/http://3wagon.eventbrite.com/" class="link-tickets" target="_blank"><img alt="Tickets_1" class="tickets" src="/web/20130719154257im_/http://www.lewagon.org/assets/tickets_1-9671cf17197c710be715291481fe9b61.png"></a>
        </div>
        <div class="span5 center">
          <br>
          <span class="muted price-infos">30€</span>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>

  </div>

</div>

      </div>